body {
  /*
  background: linear-gradient(to right, #c31432, #240b36);
  */
  background: linear-gradient(to right, #43cea2, #185a9d);
}

.top {
  height: 110px;
  background: linear-gradient(to right, #00f260, #0575e6);
  color: gold;
}

.top2,
.top3 {
  margin-top: 30px;
}

h1 {
  text-align: center;
  font-size: 50px;
  margin-top: 20px;
  text-shadow: 1px 1px 2px black;
}

h3 {
  color: greenyellow;
  text-shadow: 1px 1px 1px black;
}

h4 {
  margin-top: 10px;
  color: white;
}

p {
  color: floralwhite;
}

a {
  color: azure;
  font-weight: bolder;
  text-shadow: 1px 1px 1px black;
}

#h1span {
  font-size: medium;
  color: #fcb1f8;

}

ion-icon {
  font-size: 32px;
  margin-top: 45px;
}

#utube {
  color: #e95151;
}

#fbook {
  color: #034d96;
}

.link {
  border: 1px solid white;
}

.col1 {
  border-right: 3px solid white;
}